<div class="header">
    <div class="container">
        <ul class="nav nav-header">
            <li class="tab"><a href="/Citalics/" ng-class="{ tab_active: route.current.activetab === 'home' }"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
            <li class="tab"><a href="/Citalics/services" ng-class="{ tab_active: route.current.activetab === 'services' }"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a></li>
            <li class="tab"><a href="/Citalics/projects" ng-class="{ tab_active: route.current.activetab === 'projects' }"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span></a></li>
            <li class="tab"><a href="/Citalics/contact" ng-class="{ tab_active: route.current.activetab === 'contact' }"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
        </ul>
    </div>
</div>