<div class="container-fluid page-home">
    <div class="lvl-05"></div>

    <div class="lvl-1">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="col-sm-4">
                    <div class="featured-content text-center">
                        Uno
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="featured-content text-center">
                        Dos
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="featured-content text-center">
                        Tres
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lvl-1">
        <div class="row">
            <div class="col-md-3 col-md-offset-3 col-xs-6 copy">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam urna nulla, tristique non metus sit
                    amet, porta viverra ligula. Vestibulum sit amet enim et libero vehicula interdum. Duis gravida,
                    libero
                    ac viverra mattis, urna nisl tempus lectus, eget viverra libero turpis in justo. Cras hendrerit a
                    dui
                    sit amet facilisis. Suspendisse dignissim dapibus eleifend. Aliquam at convallis turpis. Nunc
                    efficitur
                    mollis lectus nec porttitor.
                </p>
            </div>
            <div class="col-md-3 col-xs-6 copy">
                <p>Duis placerat porttitor libero, quis mollis eros varius vitae. Integer lobortis metus id pulvinar
                    bibendum.
                    Morbi at ante at eros efficitur mattis. Vivamus mollis posuere hendrerit. Nullam neque justo, tempus
                    non
                    turpis nec, porttitor egestas felis.
                </p>
            </div>
        </div>
    </div>
    <div class="lvl-2">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-6 copy">
                <p>
                    Aenean enim nibh, iaculis sit amet ultrices et, dignissim in erat. Curabitur feugiat mi eget augue
                    blandit dignissim. Cras vulputate dapibus arcu quis sagittis. Nam vitae dui at lacus imperdiet
                    maximus. Vivamus ligula magna, elementum et vulputate sed, rutrum ac tellus. Duis diam nulla,
                    iaculis at feugiat ac, finibus in tellus. Praesent ullamcorper faucibus vulputate.
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/footer.html'"></div>