<div class="container-fluid page-services">
    <div class="text-center lvl-0">
        <h1>Our Services</h1>
    </div>
    <div class="lvl-05">

    </div>
    <div class="lvl-1">
        <div class="container">
            <div class="row">
                <p>
                    Creating an online presence is similar to creating a physical presence. You want your appearance to
                    reflect your beliefs, profession, and ideas, as well as attract others to you. We believe the same
                    should be applied to your online presence; consisting of a web site, social media, blogging, etc.
                    You
                    want your image on the web to be unique, not some template that has been used for hundreds of other
                    websites, and we know just how to make that happen. Take a look at our
                    <a href="portfolio.php">portfolio</a> and see what we have done for others.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-6">
                <p>
                    Our designers and developers are dedicated to their work and strive to stay current on new
                    techniques,
                    standards, and internet technology. When we are designing a website, we use a variety of tools such
                    as:
                </p>
                <ul>
                    <li>HTML</li>
                    <li>XML</li>
                    <li>CSS</li>
                    <li>Javascript/Jquery</li>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>AJAX</li>
                    <li>JSON</li>
                    <li>Java</li>
                    <li>Miscellaneous API's (google, facebook, paypal, etc.)</li>
                </ul>
                </div>
                <div class="col-xs-6">

                <p>This allows us to be as creative as we want, while providing a functional and easy to use website.
                    This includes:</p>
                <ul>
                    <li>Seamless navigation</li>
                    <li>Dynamic and static websites</li>
                    <li>Creative image galleries and portfolios</li>
                    <li>Database integration</li>
                    <li>Interactive web pages</li>
                    <li>Social media integration</li>
                    <li>E-Commerce abilities (shopping cart, checkouts, buy now, merchant services)</li>
                    <li>Advertisement, and much more!</li>
                </ul>
                </div>
            </div>

            <div class="row">
                <p>We offer very competitive pricing and look forward to helping you create and expand your online
                    presence. If you have any questions or would like to get a free quote, then
                    <a href="contact.php" class="contact nav_toggle">contact us</a> today.
                    We will be sure to get back to you within 24 hours.
                </p>
            </div>
        </div>
    </div>
    <div class="lvl-2">
        <div class="container">
            <div class="row">
                <p>Want to be seen? How about heard? Sometimes this can feel like a very daunting task, especially on
                    the internet. You have a great product or service on your website, yet the only people that know
                    about it are the ones you have told. How is this any better than word of mouth? Fortunately, we know
                    exactly how to take your online presence and expand it to help bring the traffic you want to your
                    website. We do this by:</p>
                <ul>
                    <li>Optimize your website for search engine readability</li>
                    <li>Submit proper sitemaps and robot files to major search engines for indexing</li>
                    <li>Analyzing your information to generate a relevant list of keywords for your site or product</li>
                    <li>Create a "buzz" on the internet by targeting relevant websites, blogs, and forums and
                        distributing your product/service information with link backs to your site
                    </li>
                    <li>Analyze site traffic data in order to provide the best results to our clients</li>
                </ul>
                <p>Every month we provide our clients with detailed reports and statistics for their website and the
                    work done for that month by our SEO analyst. Expanding your presence online takes time, unless you
                    are google, which is why we offer this service on a month to month basis, starting with an initial 2
                    month retainer.</p>

                <p>With over a billion people using the internet everyday, your online presence is your most valuable
                    resource.....<strong>don't let yourself get put on the dusty top shelf of the web</strong>. Take
                    action and make yourself know. <a href="contact.php" class="contact nav_toggle">Contact us</a> today
                    if you have questions or are ready to get started.</p>
            </div>
        </div>
    </div>
    <div class="lvl-3">
        <div class="container">
            <div class="row">
                <p>Graphics are the accessories to your website. They provide that final touch to your online presence
                    to really make you stand out. A few examples of what I am talking about are:</p>
                <ul>
                    <li>Custom button designs</li>
                    <li>Backgrounds</li>
                    <li>Book covers</li>
                    <li>Logos</li>
                    <li>Themed layouts</li>
                    <li>Custom social media icons</li>
                </ul>
                <p>We love a challenge and strive for creativity. If you have a vision on how you want something to
                    look, we will work with you to bring that vision to life.
                    <a href="contact.php" class="contact nav_toggle">Contact us</a>
                    today and let us create your vision and expand your online presence!
                </p>
            </div>
        </div>
    </div>

    <div class="lvl-2">
        <div class="container">
            <div class="row">
                <p>CMS….besides being another acronym we use to confuse people, it stands for content management system,
                    and is a
                    great system to have in place for a website owner. A CMS, such as Wordpress, Joomla, Drupal, or a
                    custom CMS,
                    gives us a way to design a fantastic website for our clients, hide all the coding and nonsense, and
                    replace it
                    with an interface our clients can use to manage their own content if they want to. Some of the great
                    things we
                    can do for your website that can be client-managed with a CMS are:</p>
                <ul>
                    <li>Blogging capabilities</li>
                    <li>Dynamic websites; add as many pages as you like</li>
                    <li>Site membership</li>
                    <li>Forums</li>
                    <li>Memberships and Subscriptions</li>
                    <li>Media Galleries</li>
                </ul>
                <p>If you are a hands on kind of person and want to be more involved with your website, then adding a
                    content
                    management system to your site would be a good option for you. We will gladly help train our clients
                    and answer
                    any questions they have when using a CMS, and offer low cost maintenance packages for our clients
                    that do use a
                    CMS. If you would like to integrate a CMS to your existing site, or have a new site created with a
                    CMS, then
                    <a href="contact.php" class="contact nav_toggle">contact us</a> today and let us expand your online
                    presence!</p>
            </div>
        </div>
    </div>

    <div class="lvl-1">
        <div class="container">
            <div class="row">
                <p>Do you own a smartphone? Perhaps a tablet? Mobile devices are become increasingly prevalent in
                    today's society.
                    Therefore, we must think about our mobile clients/customers and provide them with an optimized
                    experience when
                    they encounter your online presence. The two solutions that we provide are mobile versions of your
                    website and
                    mobile applications.</p>

                <p><strong>Mobile website:</strong></p>
                <ul>
                    <li>automatic detection of mobile devices</li>
                    <li>simplified layout for easy navigation on smaller screens</li>
                    <li>ability to switch between mobile and full site</li>
                </ul>
                <p><strong>Mobile applications:</strong></p>
                <ul>
                    <li>Developed on the Android OS (makes up 70% of all mobile devices)</li>
                    <li>Provides an easy way for your customers to access your products/services</li>
                    <li>Customers prefer mobile apps to web browsing while on mobile devices</li>
                    <li>Ability to make money off premium services for your application</li>
                </ul>
                <p>The goal is to make it easy for a customer/client to find you and use your services. We are here to
                    help make
                    this process easy for you and in return easy for your customers. If you have any questions about
                    what we can do
                    for you in the mobile world or you are ready to expand your online presence then
                    <a href="contact.php" class="contact nav_toggle">contact us</a> today.
                </p>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/footer.html'"></div>